<html>
    <head> 
        <title>MyMap</title>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript">
            var loadMap = function() 
            {
                var dataArr = <%- JSON.stringify(coordinates) %>
                
                var myCenter = [];
                var reversePath = [];
             
                var arrSize = dataArr.length-1;
                var k = arrSize;
                
                for(var j=0;j<dataArr.length;j++)
                {
                        
                    var point = dataArr[j];
                    
                    
                    if(j == 0)
                    {
                    
                        var mySource = new google.maps.LatLng(point.lat, point.lon)
                        var myOptions = {
                                        center: mySource,
                                        zoom: 6,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };
                        var map = new google.maps.Map(document.getElementById("map"),
                            myOptions);
                       
                                           
                        
                    }
                    
                    
                             
                    
                    var station = new google.maps.LatLng(point.lat, point.lon);
                    myCenter[j] = station;
                    reversePath[k--] = station;
                    
                  
                }
                
                
                var marker;
                marker = new google.maps.Marker({
                                position:myCenter[0],
                                map: map
                        });
                        
                  
                  
                (function(marker, i) {
                        // add click event
                        google.maps.event.addListener(marker, 'click', function() {
                              var flightPath=new google.maps.Polyline({
                                path:myCenter,
                                strokeColor:"#0000FF",
                                strokeOpacity:0.8,
                                strokeWeight:2,
                                map:map
                            });
                            });
                            
                     
                    })(marker, 0);  
                    
            
                var marker1 = new google.maps.Marker({
                                position:myCenter[arrSize],
                                map: map
                        });
                        
                  
                  
                (function(marker1, i) {
                        // add click event
                        google.maps.event.addListener(marker1, 'click', function() {
                              var flightPath=new google.maps.Polyline({
                                path:reversePath,
                                strokeColor:"#FF0000",
                                strokeOpacity:0.8,
                                strokeWeight:3,
                                map:map
                            });
                            });
                            
                     
                    })(marker1, 0);  
                        
                  
                  
               
                 
                
            };
            window.onload= loadMap;
        </script>
    </head>
    <body>
        <div id="map" style="width:1000px;height:1000px;"></div>
    </body>
</html>